# Use following rules to manage your plugins
# [Type] [Plugin Name] [Github URL] [Branch Name]
#
# Type: 
#   ZIP: Download archive.zip file to update plugins
#   GIT: Use git clone/pull to update plugins
# 
# Example:
#   ZIP ack.vim https://github.com/mileszs/ack.vim master
#   GIT python-mode https://github.com/python-mode/python-mode develop

GIT ack.vim https://github.com/mileszs/ack.vim master
GIT bufexplorer https://github.com/corntrace/bufexplorer master
GIT ctrlp.vim https://github.com/kien/ctrlp.vim master
GIT mayansmoke https://github.com/vim-scripts/mayansmoke master
GIT nerdtree https://github.com/scrooloose/nerdtree master
GIT nginx.vim https://github.com/vim-scripts/nginx.vim master
GIT open_file_under_cursor.vim https://github.com/amix/open_file_under_cursor.vim master
GIT snipmate-snippets https://github.com/scrooloose/snipmate-snippets master
GIT taglist.vim https://github.com/vim-scripts/taglist.vim master
GIT tlib https://github.com/vim-scripts/tlib master
GIT vim-addon-mw-utils https://github.com/MarcWeber/vim-addon-mw-utils master
GIT vim-bundle-mako https://github.com/sophacles/vim-bundle-mako master
GIT vim-coffee-script https://github.com/kchmck/vim-coffee-script master
GIT vim-colors-solarized https://github.com/altercation/vim-colors-solarized master
GIT vim-indent-object https://github.com/michaeljsmith/vim-indent-object master
GIT vim-less https://github.com/groenewege/vim-less master
GIT vim-markdown https://github.com/tpope/vim-markdown master
GIT vim-pyte https://github.com/therubymug/vim-pyte master
GIT vim-snipmate https://github.com/garbas/vim-snipmate master
GIT vim-snippets https://github.com/honza/vim-snippets master
GIT vim-surround https://github.com/tpope/vim-surround master
GIT vim-expand-region https://github.com/terryma/vim-expand-region master
GIT vim-multiple-cursors https://github.com/terryma/vim-multiple-cursors master
GIT vim-fugitive https://github.com/tpope/vim-fugitive master
GIT vim-airline https://github.com/vim-airline/vim-airline master
GIT vim-airline-themes https://github.com/vim-airline/vim-airline-themes master
GIT goyo.vim https://github.com/junegunn/goyo.vim master
GIT vim-zenroom2 https://github.com/amix/vim-zenroom2 master
GIT syntastic https://github.com/vim-syntastic/syntastic master
GIT vim-repeat https://github.com/tpope/vim-repeat master
GIT vim-commentary https://github.com/tpope/vim-commentary master
GIT vim-go https://github.com/fatih/vim-go master
GIT rust.vim https://github.com/rust-lang/rust.vim master
GIT python-mode https://github.com/python-mode/python-mode master
